.modal {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.description {
  font-size: 36px;
  margin-bottom: 12px;
  font-weight: 800;
}

.modalBtn {
  width: 128px;
  font-size: 24px;
  padding: 2px;
  background-color: #ca4ce470;
  border: none;
  border-radius: 6px;
  margin-top: 24px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.modalBtn:hover,
.modalBtn:focus {
  background-color: #8962e4;
  color: white;
}
